:root {
    --background: #101114;
    --primary-color: #1c1d20;
    --secondary-color: #4a4d57;
    --accent-color: #ffa600;
    --text-color: #f9f9f9;
    --highlight-color: rgba(68, 57, 34, 0.558);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.container {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#todo-input {
    box-sizing: border-box;
    padding: 12px 100px 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
    &:focus {
        outline: none;
    }
}

form {
    position: relative;
}

#add-btn {
    position: absolute;
    top: -13px;
    right: 0px;
    background-color: var(--accent-color);
    padding: 20px 22px;
    border: none;
    border-radius: 50px;
    color: var(--background);
    cursor: pointer;
    &:hover svg {
        fill: rgba(68, 57, 34, 0.558);
        transition: 200ms ease;
    }

    &:active svg {
        fill: white;
        transition: 200ms ease;
    }
}

.list-item {
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
        background-color: var(--highlight-color);
        transition: 150ms ease;
    }
}

.todo-text {
    display: inline-block;
    padding: 15px; 
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.full-text {
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
}

.more-btn {
    padding: 3px;
    background: none;
    border: none;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover span{
        color: var(--accent-color);
    }
}

.btn-pressed {
    padding: 3px;
    background: none;
    border: none;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.invisible {
    display: none;
}

.visible {
    display: inline-block;
}

.more-btn span {
    font-size: 35px;
    transition: 200ms ease;
}

.delete-btn svg {
    transition: 200ms ease;
}

.delete-btn {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover svg {
        fill: red;
    }
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
    fill: var(--primary-color);
}

input[type="checkbox"]:checked ~ .todo-text {
    color: var(--secondary-color);
    text-decoration: line-through;
}

input[type="checkbox"] {
    display: none;
}

@media(max-width: 500px) {
    html {
        font-size: 12pt;
    }

    #add-btn svg {
        display: none;
    }

    #add-btn {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 5px 0;
        height: auto;
        &::before {
            content: "ADD";
            font-size: 8vw;
            font-weight: 600;
        }

        &:hover {
            color: rgba(68, 57, 34, 0.558);
            transition: 200ms ease;
        }
    
        &:active {
            color: white;
            transition: 200ms ease;
        }
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }

    .todo-text {
        padding: 12px 12px;
        padding-right: 0;
    }

    .custom-checkbox {
        height: 15px;
        width: 15px;
    }

    #todo-input {
        padding: 3vw 5vw;
    }
}